.cards__list {
  display: grid;
  max-width: 880px;
  row-gap: 17px;
  column-gap: 20px;
  grid-template-columns: repeat(3, 282px);
  justify-items: center;
  align-items: center;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 930px) {
  .cards__list {
    max-width: 320px;
    grid-template-columns: 1fr;
  }
}
