.header__link {
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 0 10px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    color: white;
    transition: opacity linear .3s;
  }
  
  
  .header__link:hover {
    opacity: .8;
  }
  