.popup__close-btn_fullscreen-pic {
    position: static;
    height: 40px;
    align-self: flex-end;
    transform: translateX(45px);
  }
  
  @media screen and (max-width: 930px) {
    .popup__close-btn_fullscreen-pic {
      transform: translate(22px, -10px);
    }
  }