.popup__container {
  background: white;
  border-radius: 10px;
  max-width: 430px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 930px) {
  .popup__container {
    padding: 25px 22px;
    min-width: 282px;
  }
}
