.popup__save-btn {
  max-width: 358px;
  max-height: 50px;
  color: white;
  background: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 13px 124px 18px;
}

.popup__save-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 930px) {
  .popup__save-btn {
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
    padding: 13px 82px 18px;
  }
}
