.card__text {
  max-width: 200px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  transform: translateY(-4px);
  color: #000000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
